<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/749af594-a354-47d9-9202-8001c9ccea94/resourcegroups/clinicapplast/providers/Microsoft.Web/sites/Clinic20230609100709</ResourceId>
    <ResourceGroup>clinicapplast</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://clinic20230609100709.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>clinic20230609100709.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Clinic20230609100709</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$Clinic20230609100709</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=lastclinicdbserver.database.windows.net,1433;Initial Catalog=LastClinic_db;User ID=brazow;Password=Sbonga@01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Clinic.Models.ApplicationDbContext, Clinic" MigrationConfiguration="Clinic.Migrations.Configuration, Clinic" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=lastclinicdbserver.database.windows.net,1433;Initial Catalog=LastClinic_db;User ID=brazow;Password=Sbonga@01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>